h3
    | image upload on s3 bucket:
    br
    form(action='/user_image', method='post', enctype='multipart/form-data')
        | enter your email :
        input(type='text', name='email')
        br
        | user_image:
        input(type='file', name='user_image')
        input(type='submit', value='upload')